
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
		<title>Library Management System</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'assets/img/GrujiSpeaks-img/logo-2.png' %}" type="image/x-icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
				
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

		<!-- Feathericon CSS -->
    	<link rel="stylesheet" href="{% static 'assets/css/feather.css' %}">

    	<!-- Mobile CSS-->
		<link rel="stylesheet" href="{% static 'assets/plugins/intltelinput/css/intlTelInput.css' %}">
    	<link rel="stylesheet" href="{% static 'assets/plugins/intltelinput/css/demo.css' %}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

		<style>

			/* / reduced space / */

            .login-body {
				/* margin: 0;*/
				padding: inherit; 
				background-image: url("");
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}

			.login-content-info {
				margin: 0;
				padding: 22px 0 6px;
				width: 100%;
				background-color: lightblue;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}

			.login-content-info .account-content .login-title {
				padding-bottom: 15px;
			}

			.login-content-info .account-content .account-info .btn {
				width: 100%;
				color: #ffffff;
				background: #1c3264;
				border: 1px solid #1c3264;
				box-shadow: inset 0 0 0 0 #ffffff;
				-webkit-transition: 0.7s;
				-ms-transition: 0.7s;
				transition: 0.7s;
				font-weight: 600;
				padding: 10px 15px;
			}
		</style>

	</head>		
	<body class="login-body">

		<!-- Main Wrapper -->
		<div class="main-wrapper">
			
			<!-- Page Content -->
			<div class="login-content-info">
				<div class="container">

					<!-- Patient Signup -->
					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-6 bg-light p-4 rounded">
							<div class="account-content">
								<div class="login-shapes">
									<!-- <div class="shape-img-right">
										<img src="{% static 'assets/img/shape-01.png' %}" alt="">
									</div> -->
									<!-- <div class="shape-img-right">
										<img src="{% static 'assets/img/shape-02.png' %}" alt="">
									</div> -->
								</div>
								<div class="account-info">
									<div class="login-back">
										<a href="/"><i class="fa-solid fa-arrow-left-long"></i> Back</a>
									</div>
									<div class="login-title">
										<h3 style="margin-top: -35px;"> User Signup</h3>
										<p class="mb-0">Welcome! Please enter your details.</p>
									</div>   
									{% comment %} <form action="" method = 'post'> {% endcomment %}
										<form action="" method = 'post' id="form" onsubmit="return validateForm()">
                                        {% csrf_token %}
										<div class="form-group">
											<label>Full Name<span style="color: red;">*</span></label>
											<input type="text" class="form-control" name="name" id = "name" oninput="convertToTitleCase('name')" placeholder="Enter Full Name" required/>
										</div>
										
										
										
										<!-- <div class="form-group">
											<label>User ID</label>
											<input type="text" class="form-control" name =user_id placeholder="Your Login ID" value="{{ generated_user_id }}" readonly>
										</div> -->
										<div class="form-group">
											<label>E-mail<span style="color: red;">*</span></label>
											<input type="email" class="form-control" name="email"  placeholder="example@email.com"  pattern = "[^@\s]+@[^@\s]+\.[^@\s]+" title="Invalid Email Id" maxlength="50" required>
										</div>
                                        
                                        <!-- <div class="form-group">
											<label>Role<span style="color: red;">*</span></label>
											<select type="text" class="form-control" name="role"  oninput="this.value = this.value.replace(/[^a-z A-Z]/g, '')" required>
											<option>Select Role</option>
											<option value="Admin">Admin</option>
											<option value="User">User</option>
											</select>
										</div> -->
										
										<div class="form-group">
											<div class="form-group-flex">
												<label>Password<span style="color: red;">*</span></label>
											</div>
											<div class="pass-group">
												<input type="password" id = 'password' name='password' class="form-control pass-input" placeholder="*************">
												<span class="feather-eye toggle-password"></span>
											</div>
										</div>
										<div class="form-group">
											<div class="form-group-flex">
												<label>Confirm Password<span style="color: red;">*</span></label>
												
											</div>
											<div class="pass-group">
												<input type="password" id="confirm_password" name='confirm_password' class="form-control pass-input-sub" placeholder="*************">
												<span class="feather-eye toggle-password-sub"></span>
											</div>
										</div>
										<div class="form-group form-check-box terms-check-box">
											<div class="form-group-flex">
												<label class="custom_check">
													I have read and agree to LMS <a>Terms of Service</a> and <a>Privacy Policy.</a> 
													<input type="checkbox" name="Terms">
													<span class="checkmark"></span>
												</label>
											</div>
										</div>
										<div class="form-group">
											<button class="btn btn-block" type="submit">Sign Up</button>
										</div>
										<!-- <div class="form-group back-btn-light">
											<button class="btn btn-light btn-block" type="submit">Create an Account</button>
										</div> -->
										<div class="account-signup">
											<p>Already a Member? <a href="/login/">Sign in</a></p>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- /Patient Signup -->

				</div>
			</div>		
			<!-- /Page Content -->

			

		</div>		
		<!-- /Main Wrapper -->
	
		<!-- jQuery -->
		<script src="{% static 'assets/js/jquery-3.6.4.min.js' %}"></script>
		
		<!-- Bootstrap Bundle JS -->
		<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
		
		<!-- Feather Icon JS -->
		<script src="{% static 'assets/js/feather.min.js' %}"></script>

		<!-- Mobile Input -->
		<script src="{% static 'assets/plugins/intltelinput/js/intlTelInput.js' %}"></script>

		<!-- Custom JS -->
		<script src="{% static 'assets/js/script.js' %}"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
	
	</body>
</html>



{% comment %} <script>
    document.querySelector('form').addEventListener('submit', function(event) {
        var password = document.getElementById('password').value;
        var confirm_password = document.getElementById('confirm_password').value;
        var termsCheckbox = document.querySelector('input[name="Terms"]');
        
        // Password validation
        var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$/;
        if (!passwordRegex.test(password)) {
            event.preventDefault(); // Prevent form submission
            
            // Display a pop-up message
            alert('Password must include at least one uppercase letter, one lowercase letter, one digit, one special symbol, and be at least 8 characters long.');
            
            return;
        }
        
        // Confirm password validation
        if (password !== confirm_password) {
            event.preventDefault(); // Prevent form submission
            
            // Display a pop-up message
            alert('Password and confirm password do not match!');
            
            return;
        }
        
        // Terms and conditions checkbox validation
        if (!termsCheckbox.checked) {
            event.preventDefault(); // Prevent form submission
            
            // Display a pop-up message
            alert('Please agree to the terms of service and privacy policy.');
        }
    });
</script>

<script>
	document.querySelector("form").addEventListener("submit", function (event) {
		event.preventDefault(); // Prevent default form submission behavior

		// You can perform the form submission here
		document.querySelector("form").submit(); // Submit the form

		Swal.fire({
			title: 'Success!',
			text: 'Successfully Registered',
			icon: 'success',
			showCancelButton: false,
			confirmButtonColor: '#3085d6',
			confirmButtonText: 'OK'
		}).then(function () {
			window.location.replace("/login/");
		});
	});
</script> {% endcomment %}


 

	 <script>
		document.querySelector('form').addEventListener('submit', function(event) {
			event.preventDefault(); // Prevent default form submission behavior
	
			var password = document.getElementById('password').value;
			var confirm_password = document.getElementById('confirm_password').value;
			var termsCheckbox = document.querySelector('input[name="Terms"]');
			
			// Password validation
			var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$/;
			if (!passwordRegex.test(password)) {
				// Display a pop-up message
				alert('Password must include at least one uppercase letter, one lowercase letter, one digit, one special symbol, and be at least 8 characters long.');
				return;
			}
			
			// Confirm password validation
			if (password !== confirm_password) {
				// Display a pop-up message
				alert('Password and confirm password do not match!');
				return;
			}
			
			// Terms and conditions checkbox validation
			if (!termsCheckbox.checked) {
				// Display a pop-up message
				alert('Please agree to the terms of service and privacy policy.');
				return;
			}
			
			
			// Perform the form submission
			document.querySelector('form').submit();
	
			// Display success message and redirect
			Swal.fire({
				title: 'Success!',
				text: 'Successfully Registered',
				icon: 'success',
				showCancelButton: false,
				confirmButtonColor: '#3085d6',
				confirmButtonText: 'OK'
			}).then(function () {
				window.location.replace('/login/');
			});
		});
	
		
	</script>

{% endblock %}    